<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>My Book Reviews</title>
</head>

<body class="vph flex column">
<ul>
    <lI><form action="get"><button type="submit" formaction="/login">Login</button></form></lI>
</ul>

<div class="block">
    <h1>Welcome to my Book Review Page</h1>
        <p>Feel free to Scroll down and just choose any Title and the Review page will show my Blog post about the title.</p>    

</div>
