<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Serif:wght@100&family=Playfair+Display&display=swap" rel="stylesheet">
    <title>My Book Reviews</title>
</head>
<body class="flex center vph">

<div class="Login">
<h2>Login</h2>
<form action="/" method="post">
<label >Username</label>
<input type="text" placeholder="Username" name="username">
<label>Password</label>
<input type="password" placeholder="Password" name="password">
<button class="btn" type="submit">Login</button>
<p><%= locals.error%></p>
</form>
</div>

<%- include ('partials/footer.ejs') %>