.red{
    color: red;
    background-color: black;
}
.flex{
    display: flex;
}
.center{

 justify-content: center;
 align-items: center;
}
.vph{
    height: 100vh;
}
.footer{

    margin-top: auto;
}
.rows{
    flex-direction: row;

}
.column{
    flex-direction: column;
}
.block
{
    display:block;
}
.float-right{
    float:right;
}
.login{
    list-style: none;
}
.float-left{
    float: left;
}
.book{
    height: 187px;
    width: 120px;
}